@import '../../../assets/styles/scss/vars.scss';
@import '../../../assets/styles/scss/mixins.scss';

.button {
  border: none;
  outline: none;
  padding: 10px;
  cursor: pointer;

  &_primary {
    background-color: $highlight-bg;
    width: 150px;
    color: $light-text;
    font-size: 1.1rem;
  }
  &_success {
    background-color: $success;
    width: 80px;
    color: $light-text;
    font-size: 1.1rem;
  }
  &_error {
    background-color: $error;
    width: 80px;
    color: $light-text;
    font-size: 1.1rem;
  }
  &_ghost {
    background: none;
    color: $common-text;
    font-size: 1.1rem;
    text-decoration: underline;
  }
  &_secondary {
    background: $primary-bg;
    color: $common-text;
    font-size: 1.1rem;
    width: 100px;
  }
  &_navItem {
    background-color: transparent;
    color: $common-text;
    font-size: 1.2rem;
    padding: 5px 20px;
    font-weight: bold;
    &_active {
      background-color: transparent;
      color: $common-text;
      font-size: 1.2rem;
      padding: 5px 20px;
      font-weight: bold;
      background-color: $light-bg;
    }
  }
  &_invisible {
    background: transparent;
    border: none;
    color: inherit;
    outline: none;
  }
}
