@import '../../../assets/styles/scss/vars.scss';
@import '../../../assets/styles/scss/mixins.scss';

.container:not(.fullwidth) {
  width: $container-width;
  max-width: 90vw;
  margin: 0 auto;
}

.container.fullwidth {
  width: calc(#{$container-width} + (100vw - #{$container-width}) / 2);
  max-width: 90vw;
  float: right;
}
