@import '../../../assets/styles/scss/vars.scss';
@import '../../../assets/styles/scss/mixins.scss';

.text-badge {
  background-color: $dark-bg;
  font-size: 1.2rem;
  width: 100px;
  color: $light-text;
  text-align: center;
  padding: 5px;
  border-radius: 20px;
}
