@import '../../../assets/styles/scss/vars.scss';
@import '../../../assets/styles/scss/mixins.scss';

.settings {
  h2 {
    text-align: center;
  }
  .about {
    background: $primary-bg;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 0.8rem;
    padding: 5px 0;
    text-align: center;
  }
  height: 20vh;
  width: 30vw;
}
