@import '../../../assets/styles/scss/vars.scss';
@import '../../../assets/styles/scss/mixins.scss';

.member-card {
  @include clearfix;

  @media screen and (max-width: 790px) {
    .button_primary {
      width: 40px;
      height: 40px;
      & > span {
        display: none;
      }
    }
  }

  &.open > &__header {
    position: relative;
    background-color: $highlight-bg;
  }

  &__body {
    margin-top: -5px;
    padding: 10px 30px;
    border: 3px solid $highlight-bg;

    .button {
      margin: 0 5px;
    }

    & > .button:not(.button_primary) {
      float: right;
    }
  }

  &__header {
    position: relative;
    height: 35px;
    margin-bottom: 2px;
    padding: 15px 35px;
    background-color: $primary-bg;

    @media screen and (max-width: 400px) {
      &__title {
        width: 100%;
        text-align: center;
      }
    }

    &__title {
      margin: 0;
      padding-bottom: 2px;
      float: left;
      border-bottom: 1px solid $dark-bg;
      font-size: 1.5rem;
    }

    .date-badge {
      position: relative;
      margin-top: -5px;
      margin-left: 40px;
      padding: 5px 0;
      float: right;
      font-size: 1.3rem;
    }

    .text-badge {
      float: right;
    }
  }
}
