@import '../../../assets/styles/scss/vars.scss';
@import '../../../assets/styles/scss/mixins.scss';

.modal {
  display: none;
  position: fixed;
  top: 50vh;
  left: 50vw;
  padding: 10px;
  transform: translate(-50%, -50%);
  background: $light-bg;
  z-index: 101;
  min-height: 50vh;
  min-width: 50vw;

  &.show {
    display: block;

    & + .modal-shadow {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: transparentize(black, 0.2);
      z-index: 100;
    }
  }
}
