@import '../../../assets/styles/scss/vars.scss';
@import '../../../assets/styles/scss/mixins.scss';

.header {
  height: 80px;
  background: $header-bg;
  z-index: 99;
  width: 100vw;
  padding: 0;
  margin: 0;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid $light-bg;
  .page-title {
    margin-top: 20px;
    .text-badge {
      float: right;
      margin-top: 5px;
      margin-left: 10px;
      padding: 5px;
    }
  }
  & + * {
    position: relative;
    top: 100px;
  }
  & > .container {
    position: relative;
  }
  .content {
    margin-left: 40px;
    background: $primary-bg;
    padding: 0 20px;
    padding-right: 100%;
    box-sizing: border-box;
    height: 80px;
  }
  &__nav {
    position: absolute;
    align-self: center;
    right: 0;
    & > ul {
      display: flex;
    }
  }
}
