@import '../../../../assets/styles/scss/vars.scss';
@import '../../../../assets/styles/scss/mixins.scss';

.task-progress {
  .task-card__header {
    @include clearfix();

    &__title {
      padding: 3px;
      float: left;
      border-bottom: 1px solid $dark-bg;
    }
  }
}
