@import '../../../../assets/styles/scss/vars.scss';
@import '../../../../assets/styles/scss/mixins.scss';

.task-progress {
  .task-card__header {
    padding-top: 5px;
    padding-bottom: 5px;
    @include clearfix();

    &__title {
      margin-top: 15px;
      float: left;
      border-bottom: 1px solid $dark-bg;
    }
  }
}
