[class*='icon-'] {
  padding-right: 10px;
}

.icon-flag {
  width: 18px;
  height: 18px;
  margin-bottom: -3px;
}

.icon-taskdate {
  width: 23px;
  height: 23px;
  margin-bottom: -3px;
}

.interactive {
  cursor: pointer;
}

.icon-track {
  width: 18px;
  height: 18px;
  margin-bottom: -1px;
}

.icon-progress {
  width: 15px;
  height: 15px;
  margin-bottom: -1px;
}

.icon-tasks {
  width: 20px;
  height: 20px;
  margin-bottom: -3px;
}

.icon-back {
  width: 20px;
  height: 20px;
  margin-right: -15px;
}

.icon-skype {
  height: 25px;
  width: 25px;
  margin-bottom: -5px;
  margin-right: -5px;
}

.icon-mobile {
  height: 25px;
  width: 25px;
  margin-bottom: -5px;
  margin-right: -10px;
}

.icon-address {
  height: 25px;
  width: 25px;
  margin-bottom: -5px;
  margin-right: -5px;
}

.icon-envelope {
  height: 25px;
  width: 25px;
  margin-bottom: -5px;
  margin-right: -5px;
}
