$primary-bg: #c6ddff;
$highlight-bg: #91bdff;
$dark-bg: #447ace;
$light-bg: white;
$common-text: #0046af;
$light-text: white;
$success: #39ff57;
$error: #ff6f6f;

// @import '../../fonts/DIMSUIcons/index.css';
@mixin clearfix {
  &:after {
    content: '.';
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}

html {
  font-family: 'Segoe UI', sans-serif;
  color: $common-text;
  font-size: 16px;
}

.list_no-type {
  list-style-type: none;
  margin: inherit;
  padding: inherit;
}

.member-card {
  &_open {
    border: 3px solid $highlight-bg;
  }

  &_open > &__header {
    background-color: $highlight-bg;
    position: relative;
  }

  &__body {
    padding: 10px 30px;

    .button {
      margin: 0 5px;
    }

    .button:not(.button_primary) {
      float: right;
    }
  }

  &__header {
    position: relative;
    background-color: $primary-bg;
    padding: 15px 35px;
    height: 35px;
    margin-bottom: 2px;

    &__title {
      font-size: 1.5rem;
      margin: 0;
      float: left;
      padding-bottom: 2px;
      border-bottom: 1px solid $dark-bg;
    }

    .date-badge {
      float: right;
      margin-left: 40px;
      padding: 5px 0;
      font-size: 1.3rem;
      position: relative;
      margin-top: -5px;
    }
    .direction-badge {
      float: right;
    }
  }
  @include clearfix;
}

.direction-badge {
  background-color: $dark-bg;
  font-size: 1.2rem;
  width: 100px;
  color: $light-text;
  text-align: center;
  padding: 5px;
  border-radius: 20px;
}

.button {
  border: none;
  outline: none;
  padding: 10px;
  cursor: pointer;

  &_primary {
    background-color: $highlight-bg;
    width: 150px;
    color: $light-text;
    font-size: 1.1rem;
  }
  &_success {
    background-color: $success;
    width: 80px;
    color: $light-text;
    font-size: 1.1rem;
  }
  &_error {
    background-color: $error;
    width: 80px;
    color: $light-text;
    font-size: 1.1rem;
  }
  &_ghost {
    background: none;
    color: $common-text;
    font-size: 1.1rem;
    text-decoration: underline;
  }
  &_secondary {
    background: $primary-bg;
    color: $common-text;
    font-size: 1.1rem;
    width: 100px;
  }
}
// &:before {
//   content: '\e800'; //icon-flag
//   font-family: 'DIMSUIcons';
//   display: inline-block;
//   position: absolute;
//   left: -18px;
//   top: 10px;
// }

.error-color {
  color: $error;
  fill: $error;
}

.success-color {
  color: $success;
  fill: $success;
}

.common-text-color {
  color: $common-text;
  fill: $common-text;
}

.modal {
  position: fixed;
  display: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  z-index: 100;
  &.show {
    display: block;

    z-index: 101;
    & + .modal-shadow {
      background: transparentize(black, 0.2);
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
    }
  }
  background: $light-bg;
}

.member-info {
  width: 80vw;
  height: 90vh;

  &__header {
    background-color: $primary-bg;
    position: relative;

    .button {
      position: absolute;
      height: 100%;
      top: 0;
      width: 50px;
      background-color: $highlight-bg;
      color: $common-text;
      font-size: 1.5rem;
      padding-left: 0;
    }

    .date-badge {
      float: right;
      margin-left: 50px;
      transform: scale(1.2);
    }

    .direction-badge {
      float: right;
      transform: scale(1.2);

      margin-top: 7px;
    }

    padding: 25px 0;
    padding-right: 70px;
    @include clearfix;
  }

  &__title {
    float: left;
    font-size: 2rem;
    margin: 0;
    margin-left: 80px;
  }

  &__contacts {
    font-size: 1.4rem;
    margin: 3% 70px;
    display: flex;
    justify-content: center;
    text-align: center;
    background: $primary-bg;
    padding: 20px 20px;

    a {
      text-decoration: none;
      color: inherit;
    }

    & > * {
      width: 50%;
      &:first-child {
        justify-self: flex-start;
        text-align: left;
      }
      &:last-child {
        justify-self: flex-end;
        text-align: right;
      }
    }

    .icon-envelope {
      font-size: 1.3rem;
    }
  }

  .address {
    margin: 2%;
    margin-left: 90px;
    font-size: 1.4rem;
  }

  .flex-column {
    float: left;
    width: 35%;
    box-sizing: border-box;
    &:first-child {
      margin-right: 5%;
    }
    font-size: 1.4rem;
  }
  &__additional-info {
    margin: 0 auto;
    width: calc(100% - 140px);
    box-sizing: border-box;
    padding: 2% 5%;
    margin-top: 3%;
    background: $primary-bg;
    .date-badge {
      font-size: 1.4rem;
    }

    @include clearfix;
  }

  .button-block {
    position: absolute;
    bottom: 50px;
    right: 70px;
    width: calc(100% - 140px);
    .button:not(.button_primary) {
      margin-left: 20px;
      float: right;
    }

    .button_primary {
      float: left;
      margin-right: 20px;
    }
  }
}

.button_invisible {
  background: transparent;
  border: none;
  color: inherit;
  outline: none;
}

[class*='icon-'] {
  padding-right: 10px;
}

hr {
  width: calc(100% - 140px);
  height: 5px;
  background: $primary-bg;
  border: none;
}

.flex-column {
  display: flex;
  flex-direction: column;
  & > div {
    margin-bottom: 20px;
  }
}

.list-key {
  font-weight: bold;
  padding-right: 15px;
}

@mixin task-card_border($color) {
  :before {
    content: '';
    width: 99%;
    height: 90%;
    display: block;
    border: 2px solid $color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
  }
}

.task-card {
  &_active > &__header {
    position: relative;
    @include task-card_border(white);
  }
  &_fail > &__header {
    position: relative;
    @include task-card_border($error);
  }
  &_success > &__header {
    position: relative;
    @include task-card_border($success);
  }
  &__header {
    background: $primary-bg;
    padding: 10px 35px;

    @include clearfix;
  }
  &__title {
    font-size: 1.2rem;
    border-bottom: 1px solid $dark-bg;
    float: left;
  }
  margin-bottom: 5px;
  &.open > & {
    &__header {
      background: $highlight-bg;
    }
  }

  .state {
    background: $highlight-bg;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.1rem;
    span {
      padding: 5px;
      padding-left: 50px;
      width: 60px;
      display: inline-block;
      text-align: center;
      background: $primary-bg;
    }
  }

  &__header {
    .date-badge {
      float: right;
      margin-top: 15px;
      font-size: 1.3rem;
    }
  }

  &__body {
    border: 5px solid $highlight-bg;
    padding: 20px;
    @include clearfix();
    .date-badge {
      margin-right: 20px;
      float: left;
      margin-bottom: 0;
      font-size: 1.1rem;
    }
  }

  &__description {
    margin-bottom: 35px;
  }

  .button-block {
    .button:not(.button_primary) {
      float: right;
      margin-left: 10px;
    }
  }
  &__dates {
    @include clearfix;
  }

  .button_invisible {
    padding: 20px;
  }
}

.task-progress {
  .task-card__title {
    float: left;
    padding: 3px;
    border-bottom: 1px solid $dark-bg;
  }
  .task-card__header {
    @include clearfix();
  }
}

.container {
  max-width: 90vw;
  width: 1000px;
  margin: 0 auto;
}

.icon-flag {
  width: 18px;
  height: 18px;
  margin-bottom: -3px;
}

.icon-taskdate {
  width: 23px;
  height: 23px;
  margin-bottom: -3px;
}

.interactive {
  cursor: pointer;
}

.icon-track {
  width: 18px;
  height: 18px;
  margin-bottom: -1px;
}

.icon-progress {
  width: 15px;
  height: 15px;
  margin-bottom: -1px;
}

.icon-tasks {
  width: 20px;
  height: 20px;
  margin-bottom: -3px;
}

.icon-back {
  width: 20px;
  height: 20px;
  margin-right: -15px;
}

.edit-member {
  .button {
    margin-top: 40px;
    margin-right: 70px;
    &:last-child {
      margin-right: 20px;
    }
    float: right;
  }

  .flex-column {
    width: 45%;
  }

  .date-badge {
    .form-control {
      font-size: 1rem !important;
      width: 100px;
      text-align: center;
      margin: 0;

      margin-top: 10px;
    }
  }

  .address {
    .form-control {
      width: calc(100% - 90px - 25px);
    }
  }

  .form-radio {
    appearance: none;
    margin-left: 0;
    & + label::before {
      content: '';
      height: 18px;
      width: 18px;
      border: 2px solid $common-text;
      background: $light-bg;
      display: inline-block;
      border-radius: 20px;
      margin-right: 5px;
      box-sizing: border-box;
    }
    &:checked + label::before {
      background: radial-gradient(circle, $common-text 0%, $common-text 50%, $light-bg 50%, $light-bg 100%);
    }
  }

  .direction-badge {
    width: 150px;
  }

  .form-select {
    padding: 5px;
    font-size: 1.1rem;
    width: 150px;
    border-radius: 20px;
    border: none;
    outline: none;
  }

  .form-control {
    padding: 5px;
    border-radius: 10px;
    font-size: inherit;
    border: 2px solid $dark-bg;
    background: $light-bg;
    width: 280px;
    font-size: 1.2rem;
    display: inline-block;
    outline: none;
    display: inline-block;

    &[name='firstName'],
    &[name='lastName'] {
      width: 200px;
      font-size: 1.4rem;
      margin-right: 10px;
    }
    &[name='universityAverageScore'],
    &[name='mathScore'] {
      width: 50px;
    }
  }
}

.icon-skype {
  height: 25px;
  width: 25px;
  margin-bottom: -5px;
  margin-right: -5px;
}

.icon-mobile {
  height: 25px;
  width: 25px;
  margin-bottom: -5px;
  margin-right: -10px;
}

.icon-address {
  height: 25px;
  width: 25px;
  margin-bottom: -5px;
  margin-right: -5px;
}

.icon-envelope {
  height: 25px;
  width: 25px;
  margin-bottom: -5px;
  margin-right: -5px;
}

.inline-list {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  flex-wrap: wrap;
  width: calc(100% - 90px);
  padding: 0;
  margin-bottom: 20px;
  li {
    display: block;
    padding-left: 10px;
    margin-left: 20px;
    position: relative;
    margin-bottom: 20px;
    &:before {
      content: '\2b24';
      font-size: 0.4rem;
      display: inline-block;
      color: $common-text;
      position: absolute;
      left: 0;
      top: 30%;
    }
    p {
      margin: 0;
    }
  }
}
a:visited {
  color: inherit;
}
