$primary-bg: #c6ddff;
$highlight-bg: #91bdff;
$dark-bg: #447ace;
$light-bg: white;
$header-bg: #c6ddff96;
$common-text: #0046af;
$light-text: white;
$success: #39ff57;
$error: #ff6f6f;
$info: #249cff;
