$primary-bg: #a5dfae;
$highlight-bg: #6dd37b;
$dark-bg: #57b163;
$light-bg: #e3ffe7;
$header-bg: #bbfac396;
$common-text: #137a21;
$light-text: #e9ffec;
$success: #00ff26;
$error: #dd8e8e;
$info: #249cff;
