$primary-bg: var(--primary-bg);
$highlight-bg: var(--highlight-bg);
$dark-bg: var(--dark-bg);
$light-bg: var(--light-bg);
$header-bg: var(--header-bg);
$common-text: var(--common-text);
$light-text: var(--light-text);

$success: #00ff26;
$error: #dd8e8e;
$info: #249cff;
