@import '../../../assets/styles/scss/vars.scss';
@import '../../../assets/styles/scss/mixins.scss';

.settings {
  width: 30vw;
  padding-bottom: 50px;

  h2 {
    text-align: center;
  }

  .about {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 5px 0;
    background: $primary-bg;
    font-size: 0.8rem;
    text-align: center;
  }

  .button_secondary {
    display: block;
    margin: 20px auto 0;
  }
}
