@import '../../../../assets/styles/scss/vars.scss';
@import '../../../../assets/styles/scss/mixins.scss';

.track-create {
  width: 50vw;
  height: 65vh;
  max-height: 500px;
  padding: 0;
  padding-bottom: 20px;

  overflow-y: auto;

  .form-textarea {
    height: 10vh !important;
    min-height: 240px !important;
  }

  .task-edit {
    &__dates {
      margin-bottom: 10px;
    }

    &__header {
      @include clearfix();
    }

    &__title {
      float: left;
    }
  }

  .text-badge {
    margin-right: 5%;
    float: right;
  }

  .form-label {
    font-weight: bold;
  }

  .button[type='submit'] {
    margin-top: 10px;
    margin-right: 2vw;
    float: right;
  }
}
